.grid{
display:block;
background-color:white;
margin:50px auto;
border:10px solid blue;
width:450px;
height:450px;
}
.box{
display:inline-block;
background-color:white;
}
body{
background-image: url("http://www.planwallpaper.com/static/images/518164-backgrounds.jpg");
}
.buttons{
display:inline;
margin:0px 500px;
}
button{
display:inline-block;
margin:0px auto;
width:150px;
color:green;
font-size:2em;
font-family: 'Baloo Bhaijaan', cursive;
background-color:red;
border-radius:0px;
}
